<div>
  <br />
  <div id="row">
    <div>
      <img src="../assets/dwp_logo.png" height="35" width="393" alt="" />
      <div class="float-right">
        <h4>Welcome Marvin Martard &nbsp;</h4>
      </div>
    </div>
  </div>
  <br />

  <nav class='navbar bg-light'>
    <div class='container-fluid'>

      <a class='navbar-brand'>Vaccine Damage Database</a>
      <ul class='nav'>
        <a class="nav-link" [routerLink]="['/welcome']">Home</a>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/welcome']">Users</a>
            <a class="dropdown-item">Reference Items</a>
            <ul class="dropdown-submenu">
              <a class="dropdown-item" [routerLink]="['/welcome']">Vaccine Type</a>
              <a class="dropdown-item" href="#">Country</a>
              <a class="dropdown-item" href="#">Title</a>
            </ul>

          </div>
        </li>

        <a class="nav-link" [routerLink]="['/claims']">Claims</a>

      </ul>
    </div>
  </nav>
  <br>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>

</div>
